.git
.gitignore
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
.env
.env.*
data/raw/*
data/external/*
data/processed/*
notebooks/*.ipynb_checkpoints
reports/*
artifacts/*
*.pyc
*.pyo
*.log
